# Xcode
build/
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# OS
.DS_Store
*.swp
*~
